# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# production
/build

# data persisted by the local-fs storage driver (dev only)
/.data/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# vercel / azure
.vercel
.azure

# editor
.idea
.vscode
